

a:hover{
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

hover-corners:hover{
    text-shadow: 0 0 20px white;
}

.bg-dot-grid{
    background-image:
    radial-gradient(white .04rem, transparent 0);
    background-size: 6vw 6vw;
    background-position: 50%;
}

.bg-dot-blue{
    background-image:
    radial-gradient(#007bff 5%, transparent 0);
    background-size: 1.5rem 1.5rem;
    background-position: 50%;
}

/* .bg-primary{
    background-color: black !important;
} */

.box-glow{
    box-shadow: 0 0 20px white;
}

canvas {
    -webkit-filter: drop-shadow(10px 0 20px rgba(255, 255, 255, 1));
     filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
     position: absolute;
     top: 0;
     left:0;
     height: calc(100% + 20rem) !important;
 }

.circle{
    border-radius:50%;
    background-image: url(../public/images/me.jpg);
    background-position: center;
    overflow: hidden;
    border:2px solid #007bff;
}

.down-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filter-glow{
    -webkit-filter: drop-shadow(0px 0 20px rgba(255, 255, 255, 1));
     filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.hover-glow{
    -webkit-filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0));
    filter: drop-shadow(0 0 0px rgba(255, 255, 255, 0));
}
.hover-glow:hover{
    -webkit-filter: drop-shadow(0px 0 20px rgba(255, 255, 255, 1));
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1));
}

.hover-corners{
    position: relative;
}

.hover-corners::before,
.hover-corners::after,
.hover-span::before,
.hover-span::after {
	content: ' ';
	position: absolute;
	width: 8px;
	height: 8px;
	background: transparent;
	transition: .5s ease;
}

.hover-corners::before {
	top: -2px;
	left: -2px;
	border-top: 2px solid white;
	border-left: 2px solid white;
}
.hover-corners::after {
	top: -2px;
	right: -2px;
	border-top: 2px solid white;
	border-right: 2px solid white;
}

.hover-span::before {
	bottom: -2px;
	left: -2px;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
}
.hover-span::after {
	bottom: -2px;
	right: -2px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
}


.hover-corners:hover::before,
.hover-corners:hover::after,
.hover-corners:hover .hover-span::before,
.hover-corners:hover .hover-span::after  {
	width: 24px;
    height: 24px;
}

.hover-white{
    background-color: transparent;
    color: white;
    transition: .3s ease !important;
}

.hover-white:hover{
    background-color: white !important;
    color: #007bff !important;
    transition: .3s ease !important;
}

.hover-obj{
    box-shadow: 0px 0px 0px darkgrey;
    transition: .5s ease;
    margin-top:0;
    margin-bottom:0;
}

.hover-obj:hover{
    box-shadow: 0px 20px 25px lightgrey;
    transition: .5s ease;
    margin-top: -10px;
    margin-bottom:10px;
}

.jiggle {
    animation: jiggle .5s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out; 
}

@keyframes jiggle {
    0% { transform: translate(1px, 1px) rotate(0deg);}
    10% { transform: translate(-1px, -1px) rotate(-.25deg);}
    20% { transform: translate(-2px, 0px) rotate(.25deg);}
    30% { transform: translate(0px, 1px) rotate(0deg);} 
    40% { transform: translate(1px, -1px) rotate(.25deg); }
    50% { transform: translate(-1px, 2px) rotate(-.25deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(0px, 0px) rotate(-.25deg); }
    80% { transform: translate(-1px, -1px) rotate(0deg); }
    90% { transform: translate(1px, 0px) rotate(.25deg); }
    100% { transform: translate(1px, -1px) rotate(0deg); }
}


.navbar{
    padding:1rem;
    margin-bottom: -4.5rem;
    z-index:1;
}

.rotate-90-ccw{
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    margin-top: 60%;
    transform: rotate(-90deg);
    transform-origin: left top;
    position: absolute;
}

.text-glow-white{
    text-shadow: 0 0 20px white;
}

.square{ 
    height: 260px;
    width: 260px;;
}

body::-webkit-scrollbar {
    width: 0;
}

/* Track */
body::-webkit-scrollbar-track {
    background: transparent; 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
    background: transparent; 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}

.x-hidden{
    overflow-x: hidden;
}

.z-100{
    z-index:100;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  

    .vh-100 {
        min-height: 100vh;
    }

    .bg-dot-grid{
        background-size: 3vw 3vw;
    }

    canvas{
        height: 100vh !important;
    }
}